// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #3db99a;
$secondary: #B0F188;
$dark: #658B4E;
$bgdark: #221F1F;
$font-family-sans-serif: "Langar", sans-serif !default;
$font-family-serif: "Kurale", sans-serif !default;

.navbar{
    background-image: linear-gradient(90deg, rgba(242,238,238,1) 0%, rgba(176,241,136,1) 43%, rgba(101,139,78,1) 69%);
}
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here