@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 500px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1{
    margin-left: 15px;
    margin-top: 15px;
}

h2{
    margin-bottom: 15px;
    margin-top: 15px;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    background-image: url(../Images/Background.jpg);
    background-size: cover;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.text-justify{
    text-align: justify;
}